{% extends 'en/base.html.twig' %}

{% block title %} Resume {% endblock title %}

{% block body %}

    <body id="resume">

        <div class="cv container border flex ">
            <img src="{{ asset('documents/CV_anglais.png') }}"/>
        </div>

    </body>

{% endblock body %}