{% extends  'fr/base_fr.html.twig' %}

{% block title %} Resume {% endblock title %}

{% block body %}

    <body id="resume">

        <div class="cv container border flex ">
            <img  src="{{ asset('documents/CV_francais.png') }}" alt="CV">
        </div>

    </body>

{% endblock body %}